body{

    --primary: #7c82fe;
	--primary-hover: #646cff;
	--secondary-color: white;
	--inverted-secondary: black;

	--error : rgb(247, 86, 86);
	--gray:rgba(0, 0, 0, 0.178);

	--text-color: rgb(30 30 30);
	--description-text: rgba(117, 117, 117, 0.746);
}